<nav class='navbar navbar-expand-lg fixed-top navbar-custom'>
  <div class='container-fluid'>
    <a class='navbar-brand text-light' href='#'>Task Manager</a>
    <div class='collapse navbar-collapse'>
      <ul class='navbar-nav me-auto'>
        {{#if user}}
          <li class='nav-item'>
            <a class='nav-link' href='/dashboard'>Dashboard</a>
          </li>
          <li class='nav-item ml-auto'>
            <a class='nav-link' id="logoutBtn" href='#'>Sair</a>
          </li>
        {{else}}
          <li class='nav-item'>
            <a class='nav-link text-light' href='/login'>Login</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link text-light' href='/register'>Cadastro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>