<div id="user-info" data-user-id="{{user.id}}" style="display: none;"></div>
<div class="container mt-5">
  <h2 class="mb-4">Minhas Tarefas</h2>

  <table class="table table-bordered table-striped" id="tasksTable">
    <thead class="thead-dark">
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>


  <button class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-5" id="btnAddTask" style="width: 60px; height: 60px;">
    <span class="fs-4">+</span>
  </button>
</div>

<!-- deleção de tarefa -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Confirmar exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir esta tarefa?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Excluir</button>
      </div>
    </div>
  </div>